<!DOCTYPE html>
<html>
<head>
  <title>Careers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>


</head>
<body data-no-turbolink>

	

	<%= render partial: "layouts/header" %>

	
	<div class="row">
		<div class="col-xs-6 col-xs-offset-2">
			<% if !flash[:notice].blank?  %>

				<div class="alert alert-info alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <%= flash[:notice].html_safe %>
				</div>
			    
			<% end %>
		</div>
	</div>

	

	<%= yield %>

	<br/>

</body>
</html>
